@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
   margin: 0;
  padding: 0; 
  box-sizing: border-box;
  scroll-behavior:smooth;
}

.name{
    color: blue;
    font-size: larger;
    font-style: normal;
    padding: 10px;
   
    
      
        /* Apply the gradient as a background to the anchor tags */
        background: rgb(0, 9, 36);
        background: linear-gradient(69deg, rgba(0, 9, 36, 1) 0%, rgba(54, 31, 24, 1) 7%, rgba(255, 2, 148, 1) 44%, rgba(72, 0, 255, 1) 89%);
      
        /* Set the text color to transparent so the gradient shows through */
        color: transparent;
        
        /* Clip the background to the text */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
      
}
.nav{
width: 100%;
display: flex;
height: 60px;
padding: 10px;
justify-content: space-between;
background-color: black;
border-bottom: 1px solid rgb(107, 107, 107);

}
.list{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 300px;
    text-decoration: none;
}
.page{
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.Header{
 width: 100%;
 height: 89.5vh;
background-color: black;
display: flex;


}
.mesInformations{
    width: 23%;
    background-color: rgb(0, 0, 0);
    border-right:0.1px solid rgb(155, 155, 155) ;
    display: flex;
    
    align-items: last baseline;

    }
    .emailAndPhone{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 10px;
        gap: 10px;
    }
    .email{
        color: rgb(217, 215, 212);
        display: flex;
        gap: 2px;
        font-size: 15px;
        
}
.Videoarea{
    width: 77%;
    display: flex;
 justify-content: space-between;

}
.hello{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-top:70px;
    padding-left:50px;
}
.hellotext{
    display: flex;
    flex-direction: column;
}
.nom{
    color: white;
    font-size: 60px;
    padding-left: 20px;
    color: blue;
}
.video{
  width: 300px;
  height: 400px;
  margin-top: 30px;
  margin-right: 40px;

}

.block{
    width: 100%;
    height: auto;

}
.title{
    color: black;
    margin-left:36%;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.presantation{
    background-color: black;
    color: white;
    width: 800px;
    margin-left: 70px;
    height: auto;
    padding-top: 30px;
    padding-left: 10px;
}
.lines{
    line-height: 40px;

}

/* Compentence */
.competences{
   
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
      
}

/* Test */
.card
{
  position:relative;
  width:250px;
  background-color: black;
  display:flex;
  justify-content:center;
  align-items:center;
  height:300px;
  border-radius:4px;
  text-align:center;
  overflow:hidden;
  transition:0.5s;
}
.container .card:hover
{
  transform:translateY(-10px);
  box-shadow:0 15px 35px rgba(0,0,0,.5);
}
.container .card:before
{
  content:'';
  position:absolute;
  top:0;
  left:-50%;
  width:100%;
  height:100%;
  background:rgba(255,255,255,.03);
  pointer-events:none;
  z-index:1;
}
.percent
{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  box-shadow: inset 0 0 50px #000;
  background:#555555;
  z-index:1000;
}
.percent .num
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}
.percent .num h2
{
  color:#777;
  font-weight:700;
  font-size:40px;
  transition:0.5s;
}
.card:hover .percent .num h2
{
  color:#fff;
  font-size:60px;
}
.percent .num h2 span
{
  color:#777;
  font-size:24px;
  transition:0.5s;
}
.card:hover .percent .num h2 span
{
  color:#fff;
}
.text
{
  position:relative;
  color:#ff0000;
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
}
.text2
{
  position:relative;
  color:#00aaff;
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
}
.card:hover .text
{
  color:#fff;
}
svg
{
  position:relative;
  width:150px;
  height:150px;
  z-index:1000;
}
svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#191919;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
svg circle:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}
.card:nth-child(1) svg circle:nth-child(2)
{
  stroke-dashoffset:calc(440 - (440 * 90) / 100);
  stroke:#00ff43;
}

/* Projetc */

.mesproject{
    background-color: black;
    color: white;
    width: 800px;
    float: right;
    margin-right: 70px;
    padding-top: 50px;
    padding-left: 20px;
}


/* Contact us */


.all{
   display: flex;
   justify-content: space-around;
   padding: 40px;
}
.contact{
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 30%;
 }

 .nameIcon{
    display: flex;
    gap: 10px;
 }
 .icon{
    font-size: 30px;
    color: #001ee4;
 }
 .Boldname{
    font-weight:900;
 }
 .personName{
    color: #777;
 }
 /* Form Contact */
 .form{
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 50%;

 }
 .nameInpute{
    display: flex;
    gap: 10px;
 }
 .input{
    border: 0.2px solid blue;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
 }
 .message{
    height: 100px;
    padding:10px;
    width: 83%;
    border-radius: 10px;
    border: 0.2px solid #001ee4;
 }
 .footer{
 width: 100%;
 height: 100px;
 background-color: black;
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
 justify-content: center;
 }
 .socialMedia{
    display: flex;
    gap: 20px;
    
 }
 .border{
    border: 1px solid rgb(97, 97, 97);
    width: 100%;
    height: 0.5px;
 }
 .copyRight{
    color:rgb(122, 122, 122) ;
 }